
body {
  background-color: black;
  
}

.all-brick-container {
  border-top: 20px solid gray;
  border-left: 20px solid gray;
  border-right: 20px solid gray;
  margin-top: 40px;
  padding-top: 40px;
}




.brick-row {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
}

.brick-row li {
  padding: 5px;
  height: 15px;
  margin: 1px;
  flex-grow:1;
}

.red-brick {
  background: red;
  
}

.yellow-brick {
  background: yellow;
}
.green-brick {
  background: green;
}

.blue-brick {
  background: blue;
}


